 .cpy-selected{
    margin: 20px -5px 20px -5px;
    background-color: #ddd;
    padding: 0 0 20px 0;
    -webkit-transition: margin-top .2s linear;
    -moz-transition: margin-top .2s linear;
    -o-transition: margin-top .2s linear;
    transition: margin-top .2s linear;
}
.cpy-selected h2{
    padding-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 22px;
}
.cpy {
    background: #fff;
    margin: 0 20px -1px 10px;
    -webkit-box-shadow: 3px 3px 5px 0 rgba(189,189,189,1);
    -moz-box-shadow: 3px 3px 5px 0 rgba(189,189,189,1);
    box-shadow: 3px 3px 5px 0 rgba(189,189,189,1);
    cursor: pointer;
}
.cpy-table{
    width:100%;
}
.cpy-table td{
    border:1px solid #ddd;
    padding:10px;
}
.cpy-close-btn{
    float:right;
    width:20px;
    margin:5px 10px;
    cursor:pointer;
}
